<navbar class="navbar navbar-dark bg-myred">
  <div class="container">
    <span class="navbar-brand" style="cursor: pointer; font-weight: bold;">OCBC NISP</span>
    <button class="btn btn-outline-light">Add Payment</button>
  </div>
</navbar>

<div class="container">
  <div class="row d-flex justify-content-center flex-wrap">
    <h5 class="col-12 display-4 page-header" style="text-align: center;">Payments Table</h5>

    <div class="col-12 d-flex justify-content-center" style="margin-bottom: 8px;">
      <button class="btn btn-sm btn-success col-1">+</button>
    </div>
    <table class="table table-striped col-12">
      <thead>
        <tr>
          <th scope="col">Card Owner</th>
          <th scope="col">Card Number</th>
          <th scope="col">Exp. Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

        <tbody>
          <tr *ngFor="let p of payments">
            <th scope="row">{{ p.cardOwnerName }}</th>
            <td>{{ p.cardNumber }}</td>
            <td>{{ p.expirationDate | date: 'MM/dd' }}</td>
            <td>
              <button class="btn btn-sm btn-warning" style="margin-right: 4px;">
                Edit
              </button>
              <button class="btn btn-sm btn-danger">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>