.bg-myred {
    background-color: #EA2629;
}

.page-header {
    font-size: 2rem;
    margin-top: 1em;
}

.my-toast {
    position: fixed; 
    right: 20px; 
    top: 64px;
}

.login-text {
    margin-top: 3px;
    margin-right: 4px;
    color: floralwhite;
}