<navbar class="navbar navbar-dark bg-myred">
  <div class="container">
    <span class="navbar-brand" style="cursor: pointer; font-weight: bold;" (click)="showToast('Welcome to Payments Table!')">BANK RICKY</span>
    <div *ngIf="!currUserEmail">
      <button (click)="onRegisterBtnClick()" class="btn btn-outline-light" style="margin-right: 4px;">Register</button>
      <button (click)="onLoginBtnClick()" class="btn btn-success">Login</button>
    </div>
    <div *ngIf="currUserEmail" class="d-flex">
      <div class="login-text">Hello, {{currUserEmail}}</div>
      <button (click)="onLogoutBtnClick()" class="btn btn-sm btn-outline-light">Logout</button>
    </div>
  </div>
</navbar>

<div class="container">
  <div class="row d-flex justify-content-center flex-wrap">
    <div *ngIf="!currUserEmail" class="alert alert-warning" role="alert">
      Please <strong>login</strong> or <strong>register</strong> if you want to manage payments
    </div>
    <h5 
      class="col-12 display-4 page-header" 
      style="text-align: center; margin-top: 0px;">
      Payments Table
    </h5>

    <!-- <div class="col-12 d-flex justify-content-center" style="margin-bottom: 8px;">
      <button [disabled]="!currUserEmail" class="btn btn-sm btn-success col-1" (click)="onAddButtonClick()">
        <i class="bi bi-plus"></i>
      </button>
    </div> -->

    <button [disabled]="!currUserEmail" class="btn btn-sm btn-success my-fab" (click)="onAddButtonClick()">
      <i class="bi bi-plus"></i>
    </button>

    <table class="table table-striped col-12">
      <thead>
        <tr>
          <th scope="col">Card Owner</th>
          <th scope="col">Card Number</th>
          <th scope="col">Expire On</th>
          <th scope="col">Action</th>
        </tr>
      </thead>

        <tbody>
          <tr *ngFor="let p of payments">
            <th scope="row">{{ p.cardOwnerName }}</th>
            <td>{{ p.cardNumber }}</td>
            <td>{{ p.expirationDate | date: 'MMM YYYY' }}</td>
            <td>
              <button [disabled]="!currUserEmail" (click)="onEditBtnClick(p.id)" class="btn btn-sm btn-warning" style="margin-right: 4px;">
                <i class="bi bi-pencil-square"></i>
              </button>
              <button [disabled]="!currUserEmail" (click)="onDeleteBtnClick(p.id)" class="btn btn-sm btn-danger">
                <i class="bi bi-trash-fill"></i>
              </button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>

  <div class="my-toast">
    <ngb-toast 
      *ngIf="isToastShowing"
      header="Success"
      [autohide]="true"
      [delay]="2500"
      (hidden)="onToastHidden()">{{toastText}}</ngb-toast>
  </div>
</div>