.bg-myred {
    background-color: #EA2629;
    margin-bottom: 16px;
}

.page-header {
    font-size: 2rem;
    margin-top: 1em;
}

.my-toast {
    position: fixed; 
    right: 20px; 
    top: 64px;
}

.login-text {
    margin-top: 3px;
    margin-right: 4px;
    color: floralwhite;
}

.my-fab {
    position: fixed;
    bottom: 40px;
    right: 40px; 
    width: 56px;
    height: 56px;
    border-radius: 50%;
}

.my-fab>i {
    font-size: 2em;
}