.x-btn{
    height: 2em;
    width: 2em;
    /* background-color: chocolate; */
    text-align: center;
    cursor: pointer;
}

.x-btn>span{
    font-size: 1.3em;
}

.my-alert>p {
    margin-bottom: 0px;
}